<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <div class="text-center">
            <span class="text-muted">&copy; YelpCamp 2021 | <a id="homeFooter" href="/">Home</a> |
                 <a id="homeFooter" href="/campgrounds">Campgrounds</a>
            </span>
        </div>
    </div>
</footer>